@model IEnumerable<DRR.Core.DBEmpresaEjemplo.Models.TransporteCargaMovimiento>

@{
    ViewData["Title"] = "Listado Repartos";
    Layout = "~/Views/Shared/_Layout.cshtml";


    Boolean seleccionar = false;

    if (ViewData.ContainsKey("Seleccionar"))
    {
        seleccionar = (Boolean)ViewData["Seleccionar"];
    }
}

<h3>@ViewData["Title"]</h3>


<partial name="_aviso" />


<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th class="d-none d-md-table-cell">
                N° Reparto
            </th>
            <th class="d-none d-md-table-cell">
                Alta
            </th>
            <th class="d-none d-md-table-cell">
                Reparto
            </th>
            <th class="d-none d-md-table-cell">
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th class="d-none d-md-table-cell">
                Regreso
            </th>
            <th class="d-none d-md-table-cell">
                Total
            </th>

            @if (seleccionar == true)
            {
                <th class="d-none d-md-table-cell"></th>
            }

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>

                @* Solo se ve desde los celulares *@
                <td class="d-block d-sm-block d-md-none">


                    <p class="d-flex flex-row mb-1 font-weight-bold">
                        @Html.ActionLink(item.MovId.ToString(), "DetalleReparto", new { numeroReparto = item.MovId }, new { @class = "mr-2"}) -  @Html.DisplayFor(modelItem => item.FechaAlta)
                    </p>

                    <p class="d-flex flex-row m-0 font-italic mb-2">

                        <span>@item.ImpVentas.FormatoMoneda() -  @item.Descripcion</span>

                    </p>

                    <p class="d-flex flex-row m-0 font-italic mx-auto justify-content-end">

                        <a class="ml-1 btn btn-success btn-sm"
                           asp-action="DetalleReparto"
                           asp-controller="Reparto"
                           asp-area="Carrito"
                           asp-route-numeroReparto="@item.MovId">Seleccionar</a>
                    </p>



                </td>



                <td class="d-none d-md-table-cell">
                    @Html.ActionLink(item.MovId.ToString(), "DetalleReparto", new { numeroReparto = item.MovId })
                </td>
                <td class="d-none d-md-table-cell">
                    @Html.DisplayFor(modelItem => item.FechaAlta)
                </td>
                <td class="d-none d-md-table-cell">
                    @Html.DisplayFor(modelItem => item.FechaMov)
                </td>
                <td class="d-none d-md-table-cell">
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td class="d-none d-md-table-cell">
                    @Html.DisplayFor(modelItem => item.FechaRegreso)
                </td>
                <td class="d-none d-md-table-cell">
                    @Html.DisplayFor(modelItem => item.ImpVentas)
                </td>

                @if (seleccionar == true)
                {
                    <td class="d-none d-md-table-cell">
                        <a class="btn btn-success"
                           asp-action="DetalleReparto"
                           asp-controller="Reparto"
                           asp-area="Carrito"
                           asp-route-numeroReparto="@item.MovId">Seleccionar</a>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>
