@model LibreriaBase.Areas.Usuario.ViewCliente

@{
    ViewData["Title"] = "MapaReparto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>MapaReparto</h1>

<div>
    <h4>ViewCliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectorID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectorID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProveedorID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProveedorID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntidadSucId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntidadSucId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntidadID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntidadID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClasificacionID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClasificacionID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListaPrecID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListaPrecID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListaPrecID_Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListaPrecID_Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoBonificProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoBonificProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescuentoUno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescuentoUno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescuentoDos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescuentoDos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectorDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectorDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EsRepresentada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EsRepresentada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteRepresentadaID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteRepresentadaID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NroClienteAsignado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NroClienteAsignado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RazonSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RazonSocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreFantasia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreFantasia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoNroIdentificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoNroIdentificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NroIdentificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NroIdentificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CiudadId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CiudadId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Domicilio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Domicilio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZonaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZonaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatosZonaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatosZonaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoogleMaps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoogleMaps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaldoCtaCte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaldoCtaCte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImpuestoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImpuestoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EximidoHasta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EximidoHasta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaImpuestoID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoriaImpuestoID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaImpuestoID_Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoriaImpuestoID_Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatosDeEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatosDeEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DenominacionAdicional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DenominacionAdicional)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
